*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000000;
}
.ajays_portrait{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.ajays_portrait img{
  position: absolute;
  top: 0;
  left: 25%;
  height: 100vh;
  object-fit: cover;
}
.ajays_portrait img:nth-child(2){
  mix-blend-mode: multiply;
}
